* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Arial";
  text-align: center;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

.up-btn {
  position: fixed;
  bottom: 1%;
  right: 1%;
  color: transparent;
}

.scroll-btn {
  color: rgba(20, 20, 20, 0.5);
  font-size: 3rem;
  transition: 0.5s;
}
.scroll-btn:hover {
  color: rgba(53, 53, 53, 0.5);
}

/************ Navbar ************/
.navbar {
  padding: 1rem 5%;
  width: 100%;
  border: 3px solid #2F4858;
  background-color: white;
  display: flex;
  justify-content: space-between;
  place-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: 2s ease-in-out;
}
.navbar .navLogo {
  font-size: 2.5rem;
  font-family: "Lilita One", sans-serif;
  color: #2F4858;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.navbar .navLogo:hover {
  color: #04AA6D;
}
.navbar .navMenu ul {
  display: flex;
  font-size: 1.1rem;
}
.navbar .navMenu ul li {
  list-style: none;
  margin-left: 1.8rem;
}
.navbar .navMenu ul li a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  font-weight: 500;
  color: #2F4858;
}
.navbar .navMenu ul li a::after {
  display: block;
  content: "";
  border-bottom: 2px solid #04AA6D;
  transform: scaleX(0) translate(0, 8px);
  transition: transform 0.5s ease-in-out;
}
.navbar .navMenu ul li a:hover {
  color: #04AA6D;
}
.navbar .navMenu ul li a:hover::after {
  transform: scaleX(1) translate(0, 8px);
}
.navbar .navMenu ul li a:active {
  text-shadow: 1px 1px 2px white;
}

.nav-scroll {
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.nav-scroll .navLogo {
  color: #04AA6D;
}
.nav-scroll .navLogo:hover {
  color: #ff8a43;
}
.nav-scroll .navMenu ul li a {
  color: #2F4858;
}
.nav-scroll .navMenu ul li a::after {
  border-bottom: 2px solid #04AA6D;
  border-collapse: collapse;
}
.nav-scroll .navMenu ul li a:hover {
  color: #04AA6D;
}
.nav-scroll .navMenu ul li a:active {
  text-shadow: 1px 1px 2px black;
}
.nav-scroll a {
  color: #2F4858;
}

.toggle-btn {
  display: none;
  color: #f1f1e6;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 32px;
}

@media screen and (max-width: 992px) {
  .navbar {
    padding: 1rem 3%;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .navLogo {
    padding-left: 1.5rem;
    padding-top: 0.2rem;
  }
  .navbar .navMenu ul {
    display: none;
    flex-direction: column;
    background-color: white;
    border-bottom: 0.8px solid lightgray;
    transition: 5s;
  }
  .navbar .navMenu ul li {
    width: 100vw;
    text-align: center;
    background-color: white;
    margin-left: 0;
  }
  .navbar .navMenu ul li a {
    width: 100vw;
  }
  .navbar .toggle-btn {
    display: block;
    padding-top: 0.7rem;
    transition: 0.5s ease-in-out;
  }
  .navbar .toggle-btn:hover {
    cursor: pointer;
    color: #d4f3ae;
  }
  .navMenu ul.toggle {
    display: flex;
    padding: 1rem 0;
  }
  .navMenu ul.toggle li {
    padding: 0.5rem 0;
  }
  .navMenu ul.toggle li a {
    color: #2F4858;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0;
  }
  .navMenu ul.toggle li a:hover {
    color: black;
    letter-spacing: 0.2rem;
  }
  .navMenu ul.toggle li a:active {
    text-shadow: 1px 1px 2px white;
  }
  .navMenu ul.toggle li a::after {
    display: none;
  }
}
/*********** Header **********/
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
@keyframes downmove {
  from {
    transform: translate(0, -30px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.header {
  width: 100%;
  height: 100vh;
  padding: 2rem 13%;
  display: flex;
  place-items: center;
  font-size: 3.3rem;
  font-weight: 900;
  color: white;
  border: 3px solid #2F4858;
  min-height: 800px;
  animation: show 3s;
  z-index: 99;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #f1f1e6;
}
.header .color {
  position: absolute;
}
.header .header-left {
  text-align: left;
  animation: downmove 0.8s ease-in;
}
.header .header-left .myname {
  font-size: 1.3rem;
  color: #d4f3ae;
  font-family: "Montserrat";
  font-weight: 500;
}
.header .header-left div,
.header .header-left span {
  text-align: left;
  font-family: "Ubuntu";
  margin: 1rem 0;
}
.header .header-left .text {
  color: #f1f1e6;
}

.blink {
  animation: blink 0.5s infinite;
  font-size: 2.5rem;
  color: #d4f3ae;
}

@media screen and (max-width: 992px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
  .header .header-left {
    width: 100%;
    margin-bottom: 10%;
  }
  .header .header-left div,
  .header .header-left span {
    text-align: center;
    margin: 0;
  }
  .header .header-right {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .header .header-left {
    font-size: 2.2rem;
    margin-bottom: 10%;
  }
  .header .header-right {
    width: 70%;
  }
}
/*********** About **********/
.about {
  margin: auto;
  padding: 6.5rem 15%;
  border: 3px solid #2F4858;
  border-top: none;
  min-height: 700px;
}
.about .about-header {
  font-size: 2.8rem;
  color: #2F4858;
  margin-bottom: 5rem;
}
.about .about-header p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem;
  color: gray;
}
.about .about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .about-content img {
  width: 80%;
  margin: auto;
}
.about .about-content .imgs {
  margin-bottom: 1rem;
}

@media screen and (max-width: 992px) {
  .about .about-content {
    flex-direction: column;
  }
  .about .about-content .about-left {
    width: 70%;
    margin: auto;
  }
  .about .about-content .about-left img {
    width: 100%;
  }
  .about .about-content .about-right {
    width: 100%;
    padding: 2rem;
    margin: auto;
    line-height: 1.5;
    font-size: 1.1rem;
    text-align: left;
    color: gray;
  }
}
/*********** Skills **********/
.skills {
  margin: auto;
  padding: 6.5rem 20%;
  background-color: #f6f9f8;
  border: 3px solid #2F4858;
  border-top: none;
}
.skills .skill-header {
  font-size: 2.8rem;
  color: #2F4858;
  margin-bottom: 5rem;
}
.skills .skill-header p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem;
  color: gray;
}
.skills .row {
  display: flex;
  justify-content: center;
}
.skills .row .col {
  padding-left: 7%;
  flex-basis: 30%;
  font-weight: 500;
  font-size: 1.1rem;
  min-width: 210px;
}
.skills .row .col li {
  list-style: none;
  text-align: left;
  line-height: 2;
}
.skills .row .col li i {
  margin-right: 1rem;
  color: #2F4858;
}

@media screen and (max-width: 768px) {
  .skills {
    padding: 6rem 10%;
  }
  .skills .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
  }
}
/*********** Works **********/
.works {
  margin: auto;
  padding: 6.5rem 2rem;
  border: 3px solid #2F4858;
  border-top: none;
}
.works .work-header {
  font-size: 2.8rem;
  color: #2F4858;
  margin-bottom: 4rem;
}
.works .row1,
.works .row2,
.works .row3 {
  display: grid;
  justify-content: center;
  place-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  grid-gap: 10%;
  padding: 4rem 0;
  text-align: left;
}
.works .row1 img,
.works .row2 img,
.works .row3 img {
  width: 100%;
}
.works .row1 .work-title,
.works .row2 .work-title,
.works .row3 .work-title {
  text-align: left;
  color: gray;
  font-size: 1.5rem;
}
.works .row1 .work-des,
.works .row2 .work-des,
.works .row3 .work-des {
  text-align: left;
  margin: 1rem 0;
  line-height: 1.4;
}
.works .row1 .etc,
.works .row2 .etc,
.works .row3 .etc {
  text-align: left;
  width: 100%;
  margin: 0;
}
.works .row1 .etc div,
.works .row2 .etc div,
.works .row3 .etc div {
  margin: 0 0 1rem 0;
  text-align: left;
}
.works .row1 .etc span,
.works .row2 .etc span,
.works .row3 .etc span {
  color: gray;
  font-size: 0.85rem;
  padding: 0.2rem 0.3rem;
  margin-right: 0.3rem;
  border: 1px solid gray;
  border-radius: 30px;
}
.works .row1 .etc a,
.works .row2 .etc a,
.works .row3 .etc a {
  margin-left: 0.3rem;
  color: gray;
  font-size: 0.9rem;
  transition: 0.4s ease-in;
  font-weight: 600;
}
.works .row1 .etc a:hover,
.works .row2 .etc a:hover,
.works .row3 .etc a:hover {
  color: #2F4858;
}

/*********** Footer **********/
.footer {
  background-color: lightgray;
  margin: auto;
  padding: 2rem 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #2F4858;
  border-top: none;
}
.footer div p {
  margin: 1rem 0;
  font-size: 0.9rem;
}
.footer .copyright {
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 3rem 10%;
  }
}/*# sourceMappingURL=style.css.map */